# Primeiros Exemplos

In [2]:
print('Primeiro programa')
1 \
+2

Primeiro programa

3

In [4]:
print(1 + 2 + 3)
4+5+6

6

15

In [5]:
1 + 2 + 3
4 + 5 + 6

15

## Tipos Básicos

In [11]:
print(True)
print(False)
print(1.2 + 1)
print('Lingua humana poggers')
print("você é" + 3 * " muito " + " Legal! ")
#print(3 + 'a') -> confuso
print([2,3,4])
print({"nome": "Pedro" ,"idade": 22})
print(None)

True
False
2.2
Lingua humana poggers
você é muito  muito  muito  Legal!
[2, 3, 4]
{'nome': 'Pedro', 'idade': 22}

# Variáveis

In [13]:
a = 10
b = 5.2

print(a+b)

a = 'Agora sou uma string!'
print(a)

15.2
Agora sou uma string!

# Comentários

In [14]:
#Minhas variaveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular quanto vai sobrar ao final do mês
"""
print(salario - despesas)

#print('Fim')
print('fim de verdade') #comentario poggers ao lado

994.25
fim de verdade

# Operadores Aritmeticos

In [18]:
print(2 + 3)
print(25-5)
print(5*5.5)
print(9.4 // 3) #// arredonda o número para inteiro, enquanto / comum deixa exato.
print(3 ** 4) #elevação do número ao uma potencia

print(10 % 2)#mostra o resto de uma divião
print(11 % 2)

5
20
27.5
3.0
81
0
1

# Desafio de Operadores Aritimeticos

In [25]:
#Minhas variaveis
salario = 3450.45
despesas = 2456.2
lucro = salario - despesas

porcentagemDoSalario = (despesas*100) // salario

print(porcentagemDoSalario)

71.0

# Operadores Relacionais

### >  < #Maior que / Menor que
>= <= #Maior ou igual que / Menor ou igual que
!= #Diferente1
== #Igual
2 == '2' #No python a variavel também interfere.

# Operadores Logicos

In [ ]:
True and False
True or False
True != False

# Desafio Operadores logicos

In [31]:
Trabalho_Terca = False
Trabalho_Quinta = False

tv_50 = Trabalho_Terca and Trabalho_Quinta
sorvete = Trabalho_Terca or Trabalho_Quinta
tv_32 = Trabalho_Terca != Trabalho_Quinta
mais_saudavel = not sorvete

print("tv_50 {} / sorvete {} / tv_32 {} / mais_saudavel {}".format(tv_50, sorvete ,tv_32 ,mais_saudavel))
#format coloca valores de variaveis dentro de {}

tv_50 False / sorvete False / tv_32 False / mais_saudavel True

# Operadores Unitarios

In [43]:
a = 0
# a++, a-- não existe

a += 1
a -= 1
-a #multiplica o valor por -1
+a #multiplica o valor por 1

print(a)

not 0
not 1
not -2
not False
not not True

0

True

# Operadores Ternários

In [45]:
esta_chuvendo = True
print('Hoje estou com as roupas' + ('secas.',' Molhadas')[esta_chuvendo])
print('Hoje estou com as roupas' + (' Molhadas.' if esta_chuvendo else ' secas'))

Hoje estou com as roupas Molhadas
Hoje estou com as roupasMolhadas.

# Mais Operadores

In [5]:
#Operador de membro
lista = [1,2,3,'Ana','Carla']
2 in lista
'Ana' not in lista

#Operador de identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1,2,3]
lista_b = lista_a
lista_c = [1,2,3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

#Tabelas funcionam diferente de num int

False

# Builtins

In [9]:
#type()
type(1) #isso da int
__builtin__.type("Forma completa do builtin")
__builtin__.print(10 / 3)

3.3333333333333335

# Conversão de Tipos

In [13]:
2 + 3 #Soma dos valores inteiros
'2' + '3' #Concat das strings

#2 + '3' #Invalido por conta que a soma de uma int em uma string é impossivel

a = 2
b = '3'

print(type(a))
print(type(b)) #Mostrando a variavel

print(a + int(b)) #Conversão de string para inteiro, caso o valor tenha virgula usar float
print(str(a) + b) #Conversão de inteiro para string

a = 1 #Convertendo inteiros para verdadeiro e falso
b = 0
type(bool(a))
print(bool(a))

type(bool(b))
print(bool(b))

<class 'int'>
<class 'str'>
5
23

# Coerção Automática

In [25]:
print(type(10/2), 10/2 ) #mesmo o resultado sendo inteiro a variavel utilizada é float por conta da "/"
print(type(10//3), 10//3 ) #se as barras forem duplas '//', enquanto o resultado será forçado em int
print(type(10//3.3), 10 // 3.3 ) #exemplo de forçamento do int

print(2 + True ) #True tem o valor de 1
print(2 + False ) #False vale 0

<class 'float'> 5.0
<class 'int'> 3
<class 'float'> 3.0
3
2

# Decimal and Getcontext

In [ ]:
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)  #Modo mais preciso de se obter resultados matematicos decimais

getcontext().prec = 4  #Precisão, quantidade de casas decimais
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))

1.1 + 2.2 #Forma menos precisa de se realisar calculos

getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

# String

In [22]:
dir(str)
nome = 'Gustavo Leandro'
nome[0] #Acessando letra através do Indice

#nome[0] = 'P' #Tentativa de mudança da primeira letra, porém, ée impossivel pois STRINGS SÃO IMUTAVEIS

"Dias D'Avila" == 'Dias D\'Avila' #Diferentes formas de se utilizar aspas dentro de uma string

texto = 'Dentro desse texto pode ser utilizado "aspas"\n\n'
print(texto)

#Formas de pular linhas

doc = """Texto com várias
... Linhas (Com aspas tripla)

"""

print(doc)

print('Também é possivel utilizar o \n ... linha (Pulando linha com "\\n")')

Dentro desse texto pode ser utilizado "aspas"


Texto com várias
... Linhas (Com aspas tripla)


Também é possivel utilizar o
 ... linha (Pulando linha com "\n")

# String 2

In [35]:
nome = 'Ana Paula'

nome[0] #Mostrando o indice 0 da string ou 'A'

nome[6] #Mostrando o indice 6 da string ou 'a', espaços contam

nome[-3] #Mostrando o indice -3, ou seja de trás para frente, 'a'

nome[4:] #Mostrando da quarta letra em diante

nome[-5:] #Mostrando da Quinta de trás para frente em diante

nome[:3]

nome[2:5] #Mostrando dentro de um intervalo

numeros = '123456789'
numeros
numeros[::]  #mostra todos os valores
numeros[::2] #Pulando de 2 em 2
numeros[1::2] #Começa do 1 e vai de 2 em 2
numeros[::-1] #Mostra ao contrario 98765...

nome[::-1] #aluaP anA

'aluaP anA'

# String 3

In [51]:
frase = 'Python é bem melhor que java disparado'
'py' in frase #Resultado falso por conta da sensibilidade de letras
'bem' in frase #vendo se existe 'bem' dentro de frase
len(frase) #descobrindo a quantidade de caracteres de uma frase

print(frase.lower()+ '\n\n') #deixa tudo minusculo

print(frase.upper()+ '\n\n') #deixa tudo grandao

print(frase.split()) #Corta a frase por espaço
print('\n\n')

print(frase.split('o')) #Corta a frase

python é bem melhor que java disparado


PYTHON É BEM MELHOR QUE JAVA DISPARADO


['Python', 'é', 'bem', 'melhor', 'que', 'java', 'disparado']



['Pyth', 'n é bem melh', 'r que java disparad', '']

# Lista

In [15]:
lista = []
type(lista)
dir(lista)
len(lista)
lista.append(1) #Adicionar coisas a lista
lista.append(5)
lista
len(lista)

nova_lista = [1,5,'Ana','Bia'] #criando nova lista com coisas dentro, tendo cada coisa seu respectivo indice
nova_lista
nova_lista.remove(5) #removendo coisas da lista
print(nova_lista)
nova_lista.reverse() #Invertendo os valores dentro que existem em uma lista
nova_lista

[1, 'Ana', 'Bia']

['Bia', 'Ana', 1]

# Lista 2

In [16]:
lista = [1,5,'Rebeca','Guilherme',3.1416]
lista.index('Guilherme') #Mostrar o indice onde se encontra tal coisa

3

# Lista 3

In [22]:
Lista = ['Ana','Lia','Rui','Paulo','Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista

IndexError: list assignment index out of range

# Tupla

In [23]:
tupla = tuple()
tupla = ()
type(tupla)
tupla = ('Um',)
type(tupla)
tupla[0]

core = ("azul",'verde','amarelo','vermelho')
core[0]
core[-1]
core[1:]

core.index('amarelo')
core.count('azul')

1

# Dicionário

In [25]:
pessoa = {'Nome': 'Prof(a). Ana', 'Idade': 38,'Cursos': ['Inglês','Portugues']}
type(pessoa) #dict
len(pessoa)

pessoa
pessoa['Nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]

pessoa.key()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')

KeyError: 'idade'

In [32]:
pessoas = {'nome':'Prof. Roberto','Idade': 43, 'Cursos':['React','Python']}
pessoas['Idade'] = 44
pessoas['Cursos'].append('Angular') #Adiciona coisas dentro de uma lista que pode existir dentro de um dicionario

pessoas.pop('Idade') #remove certo valor

pessoas
pessoas.update({'idade': 40,'Sexo': 'M'})
pessoas

del pessoas['Cursos'] #Também deleta coisas de dentro de um dicionario
pessoas
pessoas.clear() #Limpa tudo
pessoas

{}

# Conjunto

In [34]:
a = {1,2,3}
type(a) #set
                    ##a[0] Não existe pois conjunto não aceita indices
a = set('codder')   #Não aceita repetições por conta disso o d não ira repetir

print(a) #Não são organizados apenas criados

print(3 in a,4 not in a) #verificando o que existe dentro de um conjunto
{1,2,3} == {3,2,1,3} #Verdadeiro levando em conta o tipo conjunto

#Operações

c1 = {1,2}
c2 = {2,3}

c1.union(c2) #Unindo conjuntos, porém, repetições não sao feitas

c1.intersection(c2) #Mostra os valores em comum entre dois conjutnos

c1.update(c2)

c1
c2 <= c1
c1 >= c2

{1,2,3} - {2}

c1-c2

{'r', 'o', 'd', 'c', 'e'}
False True